* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  src: url("./fonts/Poppins-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 86%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
